<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mmp.gps.monitor.dao.InfoDao">


    <insert id="create">
        insert into info
        (HANDLE, ID, COMPANYID, TYPE, CONTENT, STARTTIME, ENDTIME, USERID, USERNAME, USERTIME, EDITTIME)
        VALUES
        (#{HANDLE}, #{ID}, #{COMPANYID}, #{TYPE}, #{CONTENT}, #{STARTTIME}, #{ENDTIME}, #{USERID}, #{USERNAME},
         #{USERTIME}, #{EDITTIME})

    </insert>


    <select id="list" resultType="mmp.gps.monitor.dao.Info">
        SELECT a.*, c.FULLNAME as COMPANYNAME
        FROM info a


                 left join company c on c.ID = a.COMPANYID
        WHERE
            TYPE = #{TYPE}
          AND
            USERID = #{COMPANYID}
          AND
            HANDLE = #{HANDLE}
          AND
            (STARTTIME BETWEEN #{STARTTIME} AND #{ENDTIME})
          and
            (ENDTIME BETWEEN #{STARTTIME} AND #{ENDTIME})
            LIMIT
            #{pageIndex}
            , #{pageSize}


    </select>

    <update id="update">
        UPDATE info
        SET
            HANDLE = #{HANDLE}


        WHERE ID = #{ID}
            LIMIT 1
    </update>


    <delete id="delete">

        delete
        from info
        where id = #{ID}
    </delete>


</mapper>
