<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mmp.gps.monitor.dao.baseinfo.investor.InvestorMapper">
    <resultMap id="BaseResultMap" type="mmp.gps.monitor.dao.baseinfo.investor.Investor">
        <id column="ID" jdbcType="INTEGER" property="id"/>
        <result column="INVESTOR" jdbcType="VARCHAR" property="investor"/>
        <result column="INVESTORNAME" jdbcType="VARCHAR" property="investorname"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <result column="FAX" jdbcType="VARCHAR" property="fax"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="PHONE" jdbcType="VARCHAR" property="phone"/>
        <result column="ZIPCODE" jdbcType="VARCHAR" property="zipcode"/>
        <result column="REGISTRATIONDATE" jdbcType="TIMESTAMP" property="registrationdate"/>
        <result column="BUSSINESSAGENT" jdbcType="VARCHAR" property="bussinessagent"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ID
        ,
        INVESTOR,
        INVESTORNAME,
        EMAIL,
        FAX,
        ADDRESS,
        PHONE,
        ZIPCODE,
        REGISTRATIONDATE,
        BUSSINESSAGENT
    </sql>
    <select id="selectByExample" parameterType="mmp.gps.monitor.dao.baseinfo.investor.InvestorExample"
            resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from investor
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from investor
        where ID = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from investor
        where ID = #{id,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="mmp.gps.monitor.dao.baseinfo.investor.InvestorExample">
        delete from investor
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="mmp.gps.monitor.dao.baseinfo.investor.Investor">
        insert into investor (ID, INVESTOR, INVESTORNAME,
                              EMAIL, FAX, ADDRESS,
                              PHONE, ZIPCODE, REGISTRATIONDATE,
                              BUSSINESSAGENT)
        values (#{id,jdbcType=INTEGER}, #{investor,jdbcType=VARCHAR}, #{investorname,jdbcType=VARCHAR},
                #{email,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
                #{phone,jdbcType=VARCHAR}, #{zipcode,jdbcType=VARCHAR}, #{registrationdate,jdbcType=TIMESTAMP},
                #{bussinessagent,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="mmp.gps.monitor.dao.baseinfo.investor.Investor">
        insert into investor
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="investor != null">
                INVESTOR,
            </if>
            <if test="investorname != null">
                INVESTORNAME,
            </if>
            <if test="email != null">
                EMAIL,
            </if>
            <if test="fax != null">
                FAX,
            </if>
            <if test="address != null">
                ADDRESS,
            </if>
            <if test="phone != null">
                PHONE,
            </if>
            <if test="zipcode != null">
                ZIPCODE,
            </if>
            <if test="registrationdate != null">
                REGISTRATIONDATE,
            </if>
            <if test="bussinessagent != null">
                BUSSINESSAGENT,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="investor != null">
                #{investor,jdbcType=VARCHAR},
            </if>
            <if test="investorname != null">
                #{investorname,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                #{fax,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="zipcode != null">
                #{zipcode,jdbcType=VARCHAR},
            </if>
            <if test="registrationdate != null">
                #{registrationdate,jdbcType=TIMESTAMP},
            </if>
            <if test="bussinessagent != null">
                #{bussinessagent,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="mmp.gps.monitor.dao.baseinfo.investor.InvestorExample"
            resultType="java.lang.Long">
        select count(*) from investor
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update investor
        <set>
            <if test="record.id != null">
                ID = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.investor != null">
                INVESTOR = #{record.investor,jdbcType=VARCHAR},
            </if>
            <if test="record.investorname != null">
                INVESTORNAME = #{record.investorname,jdbcType=VARCHAR},
            </if>
            <if test="record.email != null">
                EMAIL = #{record.email,jdbcType=VARCHAR},
            </if>
            <if test="record.fax != null">
                FAX = #{record.fax,jdbcType=VARCHAR},
            </if>
            <if test="record.address != null">
                ADDRESS = #{record.address,jdbcType=VARCHAR},
            </if>
            <if test="record.phone != null">
                PHONE = #{record.phone,jdbcType=VARCHAR},
            </if>
            <if test="record.zipcode != null">
                ZIPCODE = #{record.zipcode,jdbcType=VARCHAR},
            </if>
            <if test="record.registrationdate != null">
                REGISTRATIONDATE = #{record.registrationdate,jdbcType=TIMESTAMP},
            </if>
            <if test="record.bussinessagent != null">
                BUSSINESSAGENT = #{record.bussinessagent,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update investor
        set ID = #{record.id,jdbcType=INTEGER},
        INVESTOR = #{record.investor,jdbcType=VARCHAR},
        INVESTORNAME = #{record.investorname,jdbcType=VARCHAR},
        EMAIL = #{record.email,jdbcType=VARCHAR},
        FAX = #{record.fax,jdbcType=VARCHAR},
        ADDRESS = #{record.address,jdbcType=VARCHAR},
        PHONE = #{record.phone,jdbcType=VARCHAR},
        ZIPCODE = #{record.zipcode,jdbcType=VARCHAR},
        REGISTRATIONDATE = #{record.registrationdate,jdbcType=TIMESTAMP},
        BUSSINESSAGENT = #{record.bussinessagent,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="mmp.gps.monitor.dao.baseinfo.investor.Investor">
        update investor
        <set>
            <if test="investor != null">
                INVESTOR = #{investor,jdbcType=VARCHAR},
            </if>
            <if test="investorname != null">
                INVESTORNAME = #{investorname,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                EMAIL = #{email,jdbcType=VARCHAR},
            </if>
            <if test="fax != null">
                FAX = #{fax,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                ADDRESS = #{address,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                PHONE = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="zipcode != null">
                ZIPCODE = #{zipcode,jdbcType=VARCHAR},
            </if>
            <if test="registrationdate != null">
                REGISTRATIONDATE = #{registrationdate,jdbcType=TIMESTAMP},
            </if>
            <if test="bussinessagent != null">
                BUSSINESSAGENT = #{bussinessagent,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="mmp.gps.monitor.dao.baseinfo.investor.Investor">
        update investor
        set INVESTOR         = #{investor,jdbcType=VARCHAR},
            INVESTORNAME     = #{investorname,jdbcType=VARCHAR},
            EMAIL            = #{email,jdbcType=VARCHAR},
            FAX              = #{fax,jdbcType=VARCHAR},
            ADDRESS          = #{address,jdbcType=VARCHAR},
            PHONE            = #{phone,jdbcType=VARCHAR},
            ZIPCODE          = #{zipcode,jdbcType=VARCHAR},
            REGISTRATIONDATE = #{registrationdate,jdbcType=TIMESTAMP},
            BUSSINESSAGENT   = #{bussinessagent,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=INTEGER}
    </update>
</mapper>
