<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rayton.gps.dao.lisence.VehicleLicenseDao">
    <!-- VehicleLicense的resultMap,column是给数据库列起的别名,它对应property类的属性-->
    <resultMap id="result_VehicleLicense_Map" type="com.rayton.gps.dao.lisence.VehicleLicense">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="owner" jdbcType="VARCHAR" property="owner"/>
        <result column="overall_size" jdbcType="VARCHAR" property="overallSize"/>
        <result column="traction_mass" jdbcType="VARCHAR" property="tractionMass"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="company_id" jdbcType="VARCHAR" property="companyId"/>
        <result column="approved_passengers_capacity" jdbcType="VARCHAR" property="approvedPassengersCapacity"/>
        <result column="inspection_record" jdbcType="VARCHAR" property="inspectionRecord"/>
        <result column="vehicle_type" jdbcType="VARCHAR" property="vehicleType"/>
        <result column="register_date" jdbcType="DATE" property="registerDate"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="approved_load" jdbcType="VARCHAR" property="approvedLoad"/>
        <result column="engine_no" jdbcType="VARCHAR" property="engineNo"/>
        <result column="issue_date" jdbcType="DATE" property="issueDate"/>
        <result column="plate_no" jdbcType="VARCHAR" property="plateNo"/>
        <result column="document_no" jdbcType="VARCHAR" property="documentNo"/>
        <result column="use_character" jdbcType="VARCHAR" property="useCharacter"/>
        <result column="model" jdbcType="VARCHAR" property="model"/>
        <result column="vin" jdbcType="VARCHAR" property="vin"/>
        <result column="curb_weight" jdbcType="VARCHAR" property="curbWeight"/>
        <result column="total_mass" jdbcType="VARCHAR" property="totalMass"/>
    </resultMap>

    <!-- Assist用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require}
                <if test="req.value != null">#{req.value}</if>
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=",">
                        #{val}
                    </foreach>
                </if>
                <if test="req.suffix != null">${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- updateAssist用于更新数据的使用它拓展自Assist,用于辅助工具类setRequires设置的条件,${req.require}表示列名,#{req.value}表示值它是防SQL注入的 -->
    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require}
                <if test="req.value != null">#{req.value}</if>
                <if test="req.values != null">
                    <foreach collection="req.values" item="val" separator=",">
                        #{val}
                    </foreach>
                </if>
                <if test="req.suffix != null">${req.suffix}</if>
            </foreach>
        </where>
    </sql>

    <!-- 数据库中表名为:vehicle_license的列名,as前是数据库的列明,as后是列的别名用于映射成实体类中的属性,需要注意的是别名必须与resultMap中的column别名一致 -->
    <sql id="vehicle_license_Column">
        vehicle_license.id AS id
        , vehicle_license.owner AS OWNER
        , vehicle_license.overall_size AS overall_size
        , vehicle_license.traction_mass AS traction_mass
        , vehicle_license.address AS address
        , vehicle_license.company_id AS company_id
        , vehicle_license.approved_passengers_capacity AS approved_passengers_capacity
        , vehicle_license.inspection_record AS inspection_record
        , vehicle_license.vehicle_type AS vehicle_type
        , vehicle_license.register_date AS register_date
        , vehicle_license.remark AS remark
        , vehicle_license.approved_load AS approved_load
        , vehicle_license.engine_no AS engine_no
        , vehicle_license.issue_date AS issue_date
        , vehicle_license.plate_no AS plate_no
        , vehicle_license.document_no AS document_no
        , vehicle_license.use_character AS use_character
        , vehicle_license.model AS model
        , vehicle_license.vin AS vin
        , vehicle_license.curb_weight AS curb_weight
        , vehicle_license.total_mass AS total_mass
    </sql>

    <!--获得类名为:VehicleLicense对应的数据库表的数据总行数 -->
    <select id="getVehicleLicenseRowCount" parameterType="com.rayton.gps.util.Assist" resultType="java.lang.Long">
        select count(id) from vehicle_license
        <if test="require!=null">
            <include refid="Assist"/>
        </if>
    </select>
    <!-- 获得类名为:VehicleLicense对应数据库中表的数据集合 -->
    <select id="selectVehicleLicense" parameterType="com.rayton.gps.util.Assist" resultMap="result_VehicleLicense_Map">
        select
        <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
                <include refid="vehicle_license_Column"/>
            </otherwise>
        </choose>
        from vehicle_license
        <choose>
            <when test="rowSize ==null">
                <if test="require!=null">
                    <include refid="Assist"/>
                </if>
                <if test="order !=null">${order}</if>
            </when>
            <otherwise>
                inner join
                (
                SELECT id as primary_key FROM vehicle_license
                <if test="require!=null">
                    <include refid="Assist"/>
                </if>
                <if test="order !=null">${order}</if>
                <choose>
                    <when test="startRow !=null and rowSize !=null">LIMIT
                        #{startRow,jdbcType=INTEGER},#{rowSize,jdbcType=INTEGER}
                    </when>
                    <when test="rowSize !=null">LIMIT #{rowSize,jdbcType=INTEGER}</when>
                </choose>
                ) as tmp
                on tmp.primary_key=vehicle_license.id
            </otherwise>
        </choose>
    </select>

    <!-- 获得一个VehicleLicense对象,以参数VehicleLicense对象中不为空的属性作为条件进行查询-->
    <select id="selectVehicleLicenseByObj" parameterType="com.rayton.gps.dao.lisence.VehicleLicense"
            resultMap="result_VehicleLicense_Map">
        select
        <include refid="vehicle_license_Column"/>
        from vehicle_license
        <where>
            <if test="totalMass != null ">and vehicle_license.total_mass = #{totalMass,jdbcType=VARCHAR}</if>
            <if test="curbWeight != null ">and vehicle_license.curb_weight = #{curbWeight,jdbcType=VARCHAR}</if>
            <if test="vin != null ">and vehicle_license.vin = #{vin,jdbcType=VARCHAR}</if>
            <if test="model != null ">and vehicle_license.model = #{model,jdbcType=VARCHAR}</if>
            <if test="useCharacter != null ">and vehicle_license.use_character = #{useCharacter,jdbcType=VARCHAR}</if>
            <if test="documentNo != null ">and vehicle_license.document_no = #{documentNo,jdbcType=VARCHAR}</if>
            <if test="plateNo != null ">and vehicle_license.plate_no = #{plateNo,jdbcType=VARCHAR}</if>
            <if test="issueDate != null ">and vehicle_license.issue_date = #{issueDate,jdbcType=DATE}</if>
            <if test="engineNo != null ">and vehicle_license.engine_no = #{engineNo,jdbcType=VARCHAR}</if>
            <if test="approvedLoad != null ">and vehicle_license.approved_load = #{approvedLoad,jdbcType=VARCHAR}</if>
            <if test="remark != null ">and vehicle_license.remark = #{remark,jdbcType=VARCHAR}</if>
            <if test="registerDate != null ">and vehicle_license.register_date = #{registerDate,jdbcType=DATE}</if>
            <if test="vehicleType != null ">and vehicle_license.vehicle_type = #{vehicleType,jdbcType=VARCHAR}</if>
            <if test="inspectionRecord != null ">and vehicle_license.inspection_record =
                #{inspectionRecord,jdbcType=VARCHAR}
            </if>
            <if test="approvedPassengersCapacity != null ">and vehicle_license.approved_passengers_capacity =
                #{approvedPassengersCapacity,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null ">and vehicle_license.company_id = #{companyId,jdbcType=VARCHAR}</if>
            <if test="address != null ">and vehicle_license.address = #{address,jdbcType=VARCHAR}</if>
            <if test="tractionMass != null ">and vehicle_license.traction_mass = #{tractionMass,jdbcType=VARCHAR}</if>
            <if test="overallSize != null ">and vehicle_license.overall_size = #{overallSize,jdbcType=VARCHAR}</if>
            <if test="owner != null ">and vehicle_license.owner = #{owner,jdbcType=VARCHAR}</if>
            <if test="id != null ">and vehicle_license.id = #{id,jdbcType=INTEGER}</if>
        </where>
    </select>

    <!-- 通过VehicleLicense的id获得对应数据库中表的数据对象-->
    <select id="selectVehicleLicenseById" parameterType="java.lang.Integer" resultMap="result_VehicleLicense_Map">
        select
        <include refid="vehicle_license_Column"/>
        from vehicle_license
        where vehicle_license.id = #{id,jdbcType=INTEGER}
    </select>

    <!-- 将VehicleLicense插入到对应数据库的表中,包括属性值为null的数据-->

    <insert id="insertVehicleLicense" parameterType="com.rayton.gps.dao.lisence.VehicleLicense">
        insert into
        vehicle_license(id,owner,overall_size,traction_mass,address,company_id,approved_passengers_capacity,inspection_record,vehicle_type,register_date,remark,approved_load,engine_no,issue_date,plate_no,document_no,use_character,model,vin,curb_weight,total_mass)
        values(#{id,jdbcType=INTEGER},#{owner,jdbcType=VARCHAR},#{overallSize,jdbcType=VARCHAR},#{tractionMass,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{companyId,jdbcType=VARCHAR},#{approvedPassengersCapacity,jdbcType=VARCHAR},#{inspectionRecord,jdbcType=VARCHAR},#{vehicleType,jdbcType=VARCHAR},#{registerDate,jdbcType=DATE},#{remark,jdbcType=VARCHAR},#{approvedLoad,jdbcType=VARCHAR},#{engineNo,jdbcType=VARCHAR},#{issueDate,jdbcType=DATE},#{plateNo,jdbcType=VARCHAR},#{documentNo,jdbcType=VARCHAR},#{useCharacter,jdbcType=VARCHAR},#{model,jdbcType=VARCHAR},#{vin,jdbcType=VARCHAR},#{curbWeight,jdbcType=VARCHAR},#{totalMass,jdbcType=VARCHAR})
    </insert>

    <!-- 将VehicleLicense中属性值不为null的数据,插入到对应数据库的表中-->
    <insert id="insertNonEmptyVehicleLicense" parameterType="com.rayton.gps.dao.lisence.VehicleLicense">
        insert into vehicle_license
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="owner != null">owner,</if>
            <if test="overallSize != null">overall_size,</if>
            <if test="tractionMass != null">traction_mass,</if>
            <if test="address != null">address,</if>
            <if test="companyId != null">company_id,</if>
            <if test="approvedPassengersCapacity != null">approved_passengers_capacity,</if>
            <if test="inspectionRecord != null">inspection_record,</if>
            <if test="vehicleType != null">vehicle_type,</if>
            <if test="registerDate != null">register_date,</if>
            <if test="remark != null">remark,</if>
            <if test="approvedLoad != null">approved_load,</if>
            <if test="engineNo != null">engine_no,</if>
            <if test="issueDate != null">issue_date,</if>
            <if test="plateNo != null">plate_no,</if>
            <if test="documentNo != null">document_no,</if>
            <if test="useCharacter != null">use_character,</if>
            <if test="model != null">model,</if>
            <if test="vin != null">vin,</if>
            <if test="curbWeight != null">curb_weight,</if>
            <if test="totalMass != null">total_mass,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=INTEGER},</if>
            <if test="owner != null">#{owner,jdbcType=VARCHAR},</if>
            <if test="overallSize != null">#{overallSize,jdbcType=VARCHAR},</if>
            <if test="tractionMass != null">#{tractionMass,jdbcType=VARCHAR},</if>
            <if test="address != null">#{address,jdbcType=VARCHAR},</if>
            <if test="companyId != null">#{companyId,jdbcType=VARCHAR},</if>
            <if test="approvedPassengersCapacity != null">#{approvedPassengersCapacity,jdbcType=VARCHAR},</if>
            <if test="inspectionRecord != null">#{inspectionRecord,jdbcType=VARCHAR},</if>
            <if test="vehicleType != null">#{vehicleType,jdbcType=VARCHAR},</if>
            <if test="registerDate != null">#{registerDate,jdbcType=DATE},</if>
            <if test="remark != null">#{remark,jdbcType=VARCHAR},</if>
            <if test="approvedLoad != null">#{approvedLoad,jdbcType=VARCHAR},</if>
            <if test="engineNo != null">#{engineNo,jdbcType=VARCHAR},</if>
            <if test="issueDate != null">#{issueDate,jdbcType=DATE},</if>
            <if test="plateNo != null">#{plateNo,jdbcType=VARCHAR},</if>
            <if test="documentNo != null">#{documentNo,jdbcType=VARCHAR},</if>
            <if test="useCharacter != null">#{useCharacter,jdbcType=VARCHAR},</if>
            <if test="model != null">#{model,jdbcType=VARCHAR},</if>
            <if test="vin != null">#{vin,jdbcType=VARCHAR},</if>
            <if test="curbWeight != null">#{curbWeight,jdbcType=VARCHAR},</if>
            <if test="totalMass != null">#{totalMass,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <!-- 将VehicleLicense批量插入到对应数据库的表中-->
    <insert id="insertVehicleLicenseByBatch" parameterType="ArrayList">
        insert into
        vehicle_license(id,owner,overall_size,traction_mass,address,company_id,approved_passengers_capacity,inspection_record,vehicle_type,register_date,remark,approved_load,engine_no,issue_date,plate_no,document_no,use_character,model,vin,curb_weight,total_mass)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id,jdbcType=INTEGER},#{item.owner,jdbcType=VARCHAR},#{item.overallSize,jdbcType=VARCHAR},#{item.tractionMass,jdbcType=VARCHAR},#{item.address,jdbcType=VARCHAR},#{item.companyId,jdbcType=VARCHAR},#{item.approvedPassengersCapacity,jdbcType=VARCHAR},#{item.inspectionRecord,jdbcType=VARCHAR},#{item.vehicleType,jdbcType=VARCHAR},#{item.registerDate,jdbcType=DATE},#{item.remark,jdbcType=VARCHAR},#{item.approvedLoad,jdbcType=VARCHAR},#{item.engineNo,jdbcType=VARCHAR},#{item.issueDate,jdbcType=DATE},#{item.plateNo,jdbcType=VARCHAR},#{item.documentNo,jdbcType=VARCHAR},#{item.useCharacter,jdbcType=VARCHAR},#{item.model,jdbcType=VARCHAR},#{item.vin,jdbcType=VARCHAR},#{item.curbWeight,jdbcType=VARCHAR},#{item.totalMass,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <!-- 通过VehicleLicense的id将数据库表中对应的数据删除-->
    <delete id="deleteVehicleLicenseById" parameterType="java.lang.Integer">
        delete from vehicle_license
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <!-- 通过辅助工具Assist中的条件将VehicleLicense对应的数据库表的数据删除-->
    <delete id="deleteVehicleLicense" parameterType="com.rayton.gps.util.Assist">
        delete from vehicle_license
        <if test="require!=null">
            <include refid="Assist"/>
        </if>
    </delete>

    <!-- 通过VehicleLicense的id将VehicleLicense的数据更新到数据库中对应的表,包括值null的数据-->
    <update id="updateVehicleLicenseById" parameterType="com.rayton.gps.dao.lisence.VehicleLicense">
        update vehicle_license set
        owner=#{owner,jdbcType=VARCHAR}
        ,overall_size=#{overallSize,jdbcType=VARCHAR}
        ,traction_mass=#{tractionMass,jdbcType=VARCHAR}
        ,address=#{address,jdbcType=VARCHAR}
        ,company_id=#{companyId,jdbcType=VARCHAR}
        ,approved_passengers_capacity=#{approvedPassengersCapacity,jdbcType=VARCHAR}
        ,inspection_record=#{inspectionRecord,jdbcType=VARCHAR}
        ,vehicle_type=#{vehicleType,jdbcType=VARCHAR}
        ,register_date=#{registerDate,jdbcType=DATE}
        ,remark=#{remark,jdbcType=VARCHAR}
        ,approved_load=#{approvedLoad,jdbcType=VARCHAR}
        ,engine_no=#{engineNo,jdbcType=VARCHAR}
        ,issue_date=#{issueDate,jdbcType=DATE}
        ,plate_no=#{plateNo,jdbcType=VARCHAR}
        ,document_no=#{documentNo,jdbcType=VARCHAR}
        ,use_character=#{useCharacter,jdbcType=VARCHAR}
        ,model=#{model,jdbcType=VARCHAR}
        ,vin=#{vin,jdbcType=VARCHAR}
        ,curb_weight=#{curbWeight,jdbcType=VARCHAR}
        ,total_mass=#{totalMass,jdbcType=VARCHAR}
        where id=#{id,jdbcType=INTEGER}
    </update>

    <!-- 通过VehicleLicense的id将VehicleLicense中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyVehicleLicenseById" parameterType="com.rayton.gps.dao.lisence.VehicleLicense">
        update vehicle_license
        <set>
            <if test="owner != null">
                owner=#{owner,jdbcType=VARCHAR},
            </if>
            <if test="overallSize != null">
                overall_size=#{overallSize,jdbcType=VARCHAR},
            </if>
            <if test="tractionMass != null">
                traction_mass=#{tractionMass,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address=#{address,jdbcType=VARCHAR},
            </if>
            <if test="companyId != null">
                company_id=#{companyId,jdbcType=VARCHAR},
            </if>
            <if test="approvedPassengersCapacity != null">
                approved_passengers_capacity=#{approvedPassengersCapacity,jdbcType=VARCHAR},
            </if>
            <if test="inspectionRecord != null">
                inspection_record=#{inspectionRecord,jdbcType=VARCHAR},
            </if>
            <if test="vehicleType != null">
                vehicle_type=#{vehicleType,jdbcType=VARCHAR},
            </if>
            <if test="registerDate != null">
                register_date=#{registerDate,jdbcType=DATE},
            </if>
            <if test="remark != null">
                remark=#{remark,jdbcType=VARCHAR},
            </if>
            <if test="approvedLoad != null">
                approved_load=#{approvedLoad,jdbcType=VARCHAR},
            </if>
            <if test="engineNo != null">
                engine_no=#{engineNo,jdbcType=VARCHAR},
            </if>
            <if test="issueDate != null">
                issue_date=#{issueDate,jdbcType=DATE},
            </if>
            <if test="plateNo != null">
                plate_no=#{plateNo,jdbcType=VARCHAR},
            </if>
            <if test="documentNo != null">
                document_no=#{documentNo,jdbcType=VARCHAR},
            </if>
            <if test="useCharacter != null">
                use_character=#{useCharacter,jdbcType=VARCHAR},
            </if>
            <if test="model != null">
                model=#{model,jdbcType=VARCHAR},
            </if>
            <if test="vin != null">
                vin=#{vin,jdbcType=VARCHAR},
            </if>
            <if test="curbWeight != null">
                curb_weight=#{curbWeight,jdbcType=VARCHAR},
            </if>
            <if test="totalMass != null">
                total_mass=#{totalMass,jdbcType=VARCHAR},
            </if>
        </set>
        where id=#{id,jdbcType=INTEGER}
    </update>

    <!-- 通过辅助工具Assist中的条件将VehicleLicense中的数据更新到数据库对应的表中,包括值为null的数据-->
    <update id="updateVehicleLicense" parameterType="map">
        update vehicle_license
        <set>
            id=#{enti.id,jdbcType=INTEGER},
            owner=#{enti.owner,jdbcType=VARCHAR},
            overall_size=#{enti.overallSize,jdbcType=VARCHAR},
            traction_mass=#{enti.tractionMass,jdbcType=VARCHAR},
            address=#{enti.address,jdbcType=VARCHAR},
            company_id=#{enti.companyId,jdbcType=VARCHAR},
            approved_passengers_capacity=#{enti.approvedPassengersCapacity,jdbcType=VARCHAR},
            inspection_record=#{enti.inspectionRecord,jdbcType=VARCHAR},
            vehicle_type=#{enti.vehicleType,jdbcType=VARCHAR},
            register_date=#{enti.registerDate,jdbcType=DATE},
            remark=#{enti.remark,jdbcType=VARCHAR},
            approved_load=#{enti.approvedLoad,jdbcType=VARCHAR},
            engine_no=#{enti.engineNo,jdbcType=VARCHAR},
            issue_date=#{enti.issueDate,jdbcType=DATE},
            plate_no=#{enti.plateNo,jdbcType=VARCHAR},
            document_no=#{enti.documentNo,jdbcType=VARCHAR},
            use_character=#{enti.useCharacter,jdbcType=VARCHAR},
            model=#{enti.model,jdbcType=VARCHAR},
            vin=#{enti.vin,jdbcType=VARCHAR},
            curb_weight=#{enti.curbWeight,jdbcType=VARCHAR},
            total_mass=#{enti.totalMass,jdbcType=VARCHAR},
        </set>
        <if test="assist.require!=null">
            <include refid="updateAssist"/>
        </if>
    </update>

    <!-- 通过辅助工具Assist中的条件将VehicleLicense中属性值不为null的数据更新到数据库对应的表中-->
    <update id="updateNonEmptyVehicleLicense" parameterType="map">
        update vehicle_license
        <set>
            <if test="enti.id != null">
                id=#{enti.id,jdbcType=INTEGER},
            </if>
            <if test="enti.owner != null">
                owner=#{enti.owner,jdbcType=VARCHAR},
            </if>
            <if test="enti.overallSize != null">
                overall_size=#{enti.overallSize,jdbcType=VARCHAR},
            </if>
            <if test="enti.tractionMass != null">
                traction_mass=#{enti.tractionMass,jdbcType=VARCHAR},
            </if>
            <if test="enti.address != null">
                address=#{enti.address,jdbcType=VARCHAR},
            </if>
            <if test="enti.companyId != null">
                company_id=#{enti.companyId,jdbcType=VARCHAR},
            </if>
            <if test="enti.approvedPassengersCapacity != null">
                approved_passengers_capacity=#{enti.approvedPassengersCapacity,jdbcType=VARCHAR},
            </if>
            <if test="enti.inspectionRecord != null">
                inspection_record=#{enti.inspectionRecord,jdbcType=VARCHAR},
            </if>
            <if test="enti.vehicleType != null">
                vehicle_type=#{enti.vehicleType,jdbcType=VARCHAR},
            </if>
            <if test="enti.registerDate != null">
                register_date=#{enti.registerDate,jdbcType=DATE},
            </if>
            <if test="enti.remark != null">
                remark=#{enti.remark,jdbcType=VARCHAR},
            </if>
            <if test="enti.approvedLoad != null">
                approved_load=#{enti.approvedLoad,jdbcType=VARCHAR},
            </if>
            <if test="enti.engineNo != null">
                engine_no=#{enti.engineNo,jdbcType=VARCHAR},
            </if>
            <if test="enti.issueDate != null">
                issue_date=#{enti.issueDate,jdbcType=DATE},
            </if>
            <if test="enti.plateNo != null">
                plate_no=#{enti.plateNo,jdbcType=VARCHAR},
            </if>
            <if test="enti.documentNo != null">
                document_no=#{enti.documentNo,jdbcType=VARCHAR},
            </if>
            <if test="enti.useCharacter != null">
                use_character=#{enti.useCharacter,jdbcType=VARCHAR},
            </if>
            <if test="enti.model != null">
                model=#{enti.model,jdbcType=VARCHAR},
            </if>
            <if test="enti.vin != null">
                vin=#{enti.vin,jdbcType=VARCHAR},
            </if>
            <if test="enti.curbWeight != null">
                curb_weight=#{enti.curbWeight,jdbcType=VARCHAR},
            </if>
            <if test="enti.totalMass != null">
                total_mass=#{enti.totalMass,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="assist.require!=null">
            <include refid="updateAssist"/>
        </if>
    </update>

</mapper>