.login_page {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../../img/login/bg.png");
}
.login_page .login_header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #072164;
}
.login_page .login_header .loginH_l {
  margin-left: 65px;
}
.login_page .login_header .loginH_l img {
  float: left;
  padding-top: 10px;
}
.login_page .login_header .loginH_l span {
  float: left;
  font-family: "HYK2GJ";
  font-size: 20px;
  padding-left: 13px;
  color: #fffffd;
}
.login_page .login_header .loginH_r span {
  padding-right: 50px;
  font-family: "Microsoft YaHei";
  font-size: 20px;
  opacity: .3;
}
.login_page .login_info {
  width: 100%;
}
.login_page .login_info .login_all {
  width: 400px;
  height: 350px;
  margin-top: 94px;
  margin-right: 248px;
}
.login_page .login_info .login_all .p1 {
  font-family: "Microsoft YaHei";
  font-size: 33px;
  opacity: .7;
  padding-right: 27px;
}
.login_page .login_info .login_all .p2 {
  margin-top: 9px;
  font-size: 15px;
  text-align: right;
  opacity: .3;
  padding-right: 20px;
}
.login_page .login_info .login_all .login_box {
  width: 384px;
  height: 277px;
  margin-top: 13px;
  background-color: #fff;
  border-radius: 15px;
}
.login_page .login_info .login_all .login_box .Lbox {
  width: 266px;
  height: 240px;
  margin-left: 58px;
  margin-top: 16px;
  text-align: center;
}
.login_page .login_info .login_all .login_box .Lbox p:nth-child(1) {
  font-family: "Microsoft YaHei";
  font-size: 20px;
  color: #999;
}
.login_page .login_info .login_all .login_box .Lbox .login_ac {
  margin-top: 16px;
  position: relative;
}
.login_page .login_info .login_all .login_box .Lbox .login_ac i img {
  width: 13px;
  position: absolute;
  left: 9px;
  top: 9px;
}
.login_page .login_info .login_all .login_box .Lbox .login_ac input {
  width: 266px;
  height: 35px;
  text-indent: 23px;
  border-radius: 3px;
  border: 1px solid #8b8b8b;
  background-color: #fafafa;
  box-sizing: border-box;
}
.login_page .login_info .login_all .login_box .Lbox .login_pw {
  margin-top: 10px;
  position: relative;
}
.login_page .login_info .login_all .login_box .Lbox .login_pw i img {
  width: 13px;
  position: absolute;
  left: 9px;
  top: 9px;
}
.login_page .login_info .login_all .login_box .Lbox .login_pw input {
  width: 266px;
  height: 35px;
  text-indent: 23px;
  border-radius: 3px;
  border: 1px solid #8b8b8b;
  background-color: #fafafa;
  box-sizing: border-box;
}
.login_page .login_info .login_all .login_box .Lbox .login_iv {
  margin-top: 10px;
  position: relative;
}
.login_page .login_info .login_all .login_box .Lbox .login_iv .iconfont {
  font-size: 16px;
}
.login_page .login_info .login_all .login_box .Lbox .login_iv i {
  float: left;
  width: 13px;
  position: absolute;
  left: 7px;
  top: 9px;
  color: #999;
}
.login_page .login_info .login_all .login_box .Lbox .login_iv input {
  float: left;
  width: 266px;
  height: 35px;
  text-indent: 23px;
  border-radius: 3px;
  border: 1px solid #8b8b8b;
  background-color: #fafafa;
  box-sizing: border-box;
}
.login_page .login_info .login_all .login_box .Lbox .login_iv img {
  width: 88px;
  height: 33px;
  position: absolute;
  left: 177px;
  top: 1px;
}
.login_page .login_info .login_all .login_box .Lbox .s_login {
  font-family: "Microsoft YaHei";
  margin-top: 10px;
  width: 266px;
  height: 34px;
  border-radius: 3px;
  background-color: #0963ff;
  color: #fff;
}
.login_page .login_info .login_all .login_box .Lbox .pw_info {
  margin-top: 9px;
}
.login_page .login_info .login_all .login_box .Lbox .pw_info input {
  float: left;
  width: 16px;
  height: 16px;
}
.login_page .login_info .login_all .login_box .Lbox .pw_info .pw_info_l a {
  color: #999;
}
.login_page .login_info .login_all .login_box .Lbox .pw_info .pw_info_r a:nth-child(1) {
  color: #999;
}
.login_page .login_info .login_all .login_box .Lbox .pw_info .pw_info_r a:nth-child(2) {
  color: #0963ff;
}
