.layui-form-select dl dd.layui-this {
    background-color: #0488d1;
    color: #fff;
}
.layui-laydate-footer span:hover {
    color: #0488d1 !important;
}
.layui-laydate-footer span[lay-type=date] {
    color: #0488d1 !important;
}