/*基础信息*/
.layui-layout-body .layui-layout .layui-side div:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/basic/basic_shi.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll {
  background-color: #f1f1f1;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(1) .cccc:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/zhg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(1) .layui-nav-child:nth-child(2) dd:nth-child(1) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/qyg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(1) .layui-nav-child:nth-child(2) dd:nth-child(2) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/jgg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(1) .layui-nav-child:nth-child(2) dd:nth-child(3) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/jgg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(1) .layui-nav-child:nth-child(2) dd:nth-child(4) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/czg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(1) .layui-nav-child:nth-child(2) dd:nth-child(5) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/derg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(2) .cccc:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/cyw.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(2) .layui-nav-child:nth-child(2) dd:nth-child(1) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/qyg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(2) .layui-nav-child:nth-child(2) dd:nth-child(2) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/jgg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(2) .layui-nav-child:nth-child(2) dd:nth-child(3) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/jgg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(2) .layui-nav-child:nth-child(2) dd:nth-child(4) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/czg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(2) .layui-nav-child:nth-child(2) dd:nth-child(5) a:nth-child(1):before {
  content: '';
  background: url("../../dc_file/image/derg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(3) .cccc:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/clwh.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(4) .cccc:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/idgl.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(5) .cccc:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/mapg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item:nth-child(6) .cccc:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/xtg.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item {
  background-color: #a9d1e7!important;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item a,
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item .cccc {
  background-color: #a9d1e7!important;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item a {
  background-color: #f1f1f1!important;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item .layui-nav-child a {
  color: #666!important;
}
