/*基础信息*/
.layui-layout-body .layui-layout .layui-side div:nth-child(1)::before {
  content: '';
  background: url("../../dc_file/image/think/think_shi.png") no-repeat;
  vertical-align: middle;
  background-size: contain;
  display: inline-block;
  width: 13px;
  height: 13px;
  padding: 0 2px;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll {
  background-color: #f1f1f1;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item {
  background-color: #a9d1e7!important;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item a,
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item .cccc {
  background-color: #a9d1e7!important;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item a {
  background-color: #f1f1f1!important;
}
.layui-layout-body .layui-layout .layui-side .layui-side-scroll .layui-nav .layui-nav-item .layui-nav-child a {
  color: #666!important;
}
