<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>多车跟踪</title>
    <link th:href="@{/static/js/bootstrap/css/bootstrap-table.css}" rel="stylesheet" />
    <link th:href="@{/static/css/cg/bootstrap.min.css}" rel="stylesheet">
    <!--<link th:href="@{/static/css/zTreeStyle.css}" rel="stylesheet" />-->

    <link th:href="@{/static/css/tree/metroStyle.css}" rel="stylesheet"/>
    <!--<link href="https://cdn.bootcss.com/zTree.v3/3.5.29/css/zTreeStyle/zTreeStyle.min.css" rel="stylesheet">-->
    <link th:href="@{/static/lib/tabular_ztree.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/lib/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/cg/iconfont.css}">
    <link rel="stylesheet" th:href="@{/static/css/cg/common.css}">
    <!--<link rel="stylesheet" th:href="@{/static/css/cg/index.css}">-->
    <link rel="stylesheet" th:href="@{/static/css/index_l.css}">

    <link rel="stylesheet" th:href="@{/static/css/center/layercolor.css}">

    <link rel="stylesheet" th:href="@{/static/dc_file/css/multi_.css}">
    <link rel="stylesheet" th:href="@{/static/lib/jquery.webui-popover.css}">


    <style>
        body{
            overflow: hidden;
        }
        *{
            /*color: #0f0f0f;*/
        }
        /*::-webkit-scrollbar {*/
            /*width: 14px;*/
            /*height: 8px;*/
            /*background-color: transparent;*/
        /*}*/

        /*::-webkit-scrollbar-track {*/
            /*background-color: transparent;*/
        /*}*/

        /*::-webkit-scrollbar-thumb {*/
            /*background-color: rgba(0, 0, 0, .1);*/
        /*}*/



    </style>
    <style>

        /*::-webkit-scrollbar {*/
            /*width: 14px;*/
            /*height: 8px;*/
            /*background-color: transparent;*/
        /*}*/

        /*::-webkit-scrollbar-track {*/
            /*background-color: transparent;*/
        /*}*/

        /*::-webkit-scrollbar-thumb {*/
            /*background-color: rgba(0, 0, 0, .1);*/
        /*}*/
        .webui-popover-title{
            color:#666;
        }
        .spliterMapShit{
            width: 250px;
            color:#666;
        }
        .layui-laypage .layui-laypage-curr .layui-laypage-em {
            background-color: #0488d1;
        }

        .ztree li {
            line-height: 0;
        }


        .layui-input-block {
            margin-left: 0;
            min-height: 36px;
        }
        .layui-form.ooooo div {
            padding: 8px;
        }
    </style>

</head>

<body>
<!-- 侧边栏 -->
<div class="car-info_box">
    <!-- 车辆信息上部分 -->
    <section class="car-info" id="box_left">
        <!-- <i class="iconfont icon-jiantouarrowheads3"></i> -->
        <!-- 车辆信息头部 -->
        <div class="car-info-header">
            <div class="cih_small">
                            <span class="current_cm">
                                车辆列表
                            </span>
                <span>
                                地图列表
                            </span>
                <span>
                                关注
                            </span>
            </div>
        </div>
        <!-- 车辆信息搜索栏 -->
        <!-- 车辆信息列表 -->
        <div class="dl dis_list" style="display: block">
            <div class="car-info-search">
                <div class="cis_small">
                    <div class="ciss_l fl" style="background-color: #fff">
                        <form class="layui-form form_font" action="" style="color: #c9c9c9">
                            <select lay-filter="test" name="Company" lay-verify="" id="Company">
                                <option value="1">所属车队</option>
                            </select>
                        </form>
                    </div>
                    <div class="ciss_m fl" style="background-color: #fff">
                        <form class="layui-form form_font" action="" style="color: #c9c9c9">
                            <select name="team" lay-verify="" id="team" lay-filter="teamss">
                                <option value="1">所属公司</option>
                            </select>
                        </form>
                    </div>
                    <div class="ciss_r fl" style="color: #c9c9c9;">
                        <input type="text" id="textscresh">
                    </div>
                </div>
            </div>
            <div class="car-lists">
                <!--<div class="cl_info">-->
                    <!--<div class="am_header">-->
                        <!--<span>自编号</span>-->
                        <!--<span>车辆号</span>-->
                        <!--<span>速度</span>-->
                        <!--<span>里程</span>-->
                        <!--<span>运行状态</span>-->
                    <!--</div>-->
                    <!--<div class="tree_class">-->
                        <!--<div class="layer">-->
                            <!--<div id="tableMain">-->
                                <ul id="dataTree" class="ztree" style="position:absolute;">
                                </ul>
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="map_list dl dis_list" style="overflow: auto;">
            <div class="tree_class">
                <div class="layer">
                    <div id="tableMaindis" style="text-align: center;color: red">
                        <ul id="dataTreedis" class="ztreemap"></ul>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- 侧边栏底部 -->
    <div class="car-status" id="car-status">
        <div class="cs_top">
        <span onclick="countcar()">
            总车辆:1
        </span>
            <span>
            在线率80%
        </span>
            <span onclick="hidden_bottom()">
            隐藏
        </span>
        </div>
        <div class="cs_middle">
        <span onclick="Onlinecar()">
            在线:3800
        </span>
            <span onclick="offlinecar()">
            离线:11000
        </span>
            <span onclick="refresh()">
            刷新
        </span>
        </div>
        <div class="cs_bottom">
                        <span>
                            任务:0
                        </span>
            <span>
                            行驶:0
                        </span>
            <span id="showSetting">
                            设置
                        </span>
        </div>
    </div>
</div>
<!--左右拖拉-->
<section id="box_drag3"></section>
<!-- 地图，车辆信息 -->
<section class="map-info3" id="box_right3">
    <!--地图层-->
    <div class="map-contents3" id="box_map3" >
        <!--1屏-->
        <div class="ft_map s_map fl" id="ft_map" >
            <!--<img th:src="@{/static/dc_file/image/s_one.png}" alt="" style="width: 45px;padding-left: 20px;padding-top: 20px;position: absolute;top:0;left: 0;">-->
            <!--<div class="cut_sn fr">-->
                <!--<img th:src="@{/static/dc_file/image/fangda-suoxiao-icon.png}" alt="" style="width: 20px;">-->
            <!--</div>-->
        </div>
        <!--2屏-->
        <div class="sd_map s_map fl" id="sd_map">
            <!--<img th:src="@{/static/dc_file/image/s_two.png}" alt="" style="width: 45px;padding-left: 20px;padding-top: 20px;">-->
            <!--<div class="cut_sn fr">-->
                <!--<img th:src="@{/static/dc_file/image/fangda-suoxiao-icon.png}" alt="" style="width: 20px;">-->
            <!--</div>-->
        </div>
        <!--3屏-->
        <div class="td_map s_map fl" id="td_map">
            <!--<img th:src="@{/static/dc_file/image/s_three.png}"alt="" style="width: 45px;padding-left: 20px;padding-top: 20px;">-->
            <!--<div class="cut_sn fr">-->
                <!--<img th:src="@{/static/dc_file/image/fangda-suoxiao-icon.png}" alt="" style="width: 20px;">-->
            <!--</div>-->
        </div>
        <!--4屏-->
        <div class="fh_map s_map fl" id="fh_map">
            <!--<img th:src="@{/static/dc_file/image/s_four.png}" alt="" style="width: 45px;padding-left: 20px;padding-top: 20px;">-->
            <!--<div class="cut_sn fr">-->
                <!--<img th:src="@{/static/dc_file/image/fangda-suoxiao-icon.png}" alt="" style="width: 20px;">-->
            <!--</div>-->
        </div>
    </div>

    <!--上下拖拉-->
    <!--<section id="box_upDown">-->
    <!--</section>-->
    <!--<section class="mc_all3" id="box_mc3">-->
        <!--<div class="map-car-message3">-->
            <!--&lt;!&ndash; <i class="iconfont icon-jiantou2"></i>-->
                <!--<i class="iconfont icon-jiantou4"></i> &ndash;&gt;-->
            <!--<span class="main_cs">-->
                                <!--主叫：广州易迅总组调-->
                            <!--</span>-->
            <!--<span class="first_st">-->
                                <!--状态：初始状态-->
                            <!--</span>-->
            <!--<span class="al_time">-->
                                <!--时长：00:00:00-->
                            <!--</span>-->
        <!--</div>-->
        <!--<div class="map-car-details3">-->
            <!--<div class="con3">功能正在开发中</div>-->
            <!--<div class="con3">功能正在开发中</div>-->
            <!--<div class="con3">功能正在开发中</div>-->
            <!--<div class="con3" style="display:block">-->
                <!--<table border="0" cellpadding="0" cellspacing="0" style="overflow: scroll;">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<td>车牌号码</td>-->
                        <!--<td>服务器时间</td>-->
                        <!--<td>定位时间</td>-->
                        <!--<td>ACC</td>-->
                        <!--<td>速度</td>-->
                        <!--<td>行走</td>-->
                        <!--<td>油量（L）</td>-->
                        <!--<td>定位</td>-->
                        <!--<td>门态</td>-->
                        <!--<td>载客</td>-->
                        <!--<td>警戒</td>-->
                        <!--<td>地理位置</td>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--&lt;!&ndash;<tbody id="content_data">&ndash;&gt;-->
                    <!--&lt;!&ndash;<script th:src="@{static/js/arttemplate.js}"></script>&ndash;&gt;-->
                    <!--&lt;!&ndash;&lt;!&ndash;修改这里&ndash;&gt;&ndash;&gt;-->
                    <!--&lt;!&ndash;<script id="tpl" type="text/html">&ndash;&gt;-->
                    <!--&lt;!&ndash;{{each list as value i}}&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr onclick="tables('{{value.id}}',this)">&ndash;&gt;-->
                    <!--&lt;!&ndash;<td> {{value.na}} </td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>{{value.team}} </td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td> {{value.st}}</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>{{value.sp}}km/h </td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td> {{value.d}}</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>{{ value.m}}km</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td id="locatdata"> <span>经度:{{value.lng}},纬度:{{value.lat}}</span><span style="display: none"> {{value.locatName}}</span></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;{{/each}}&ndash;&gt;-->
                    <!--&lt;!&ndash;</script>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
                <!--</table>-->
            <!--</div>-->
            <!--<div class="con3">功能正在开发中</div>-->

        <!--</div>-->
        <!--<div class="map-car-info3" id="bottom_box3">-->
            <!--<a href="javascript:;">定位监控</a>-->
            <!--<a href="javascript:;">轨迹回放</a>-->
            <!--<a href="javascript:;">区域查找</a>-->
            <!--<a href="javascript:;" class="current3">定位追踪</a>-->
            <!--<a href="javascript:;">图像监控</a>-->
        <!--</div>-->
    <!--</section>-->
</section>
<div class="clear"></div>
</body>

<script th:src="@{/static/gpsparser.js}"></script>

<script th:src="@{/static/js/jquery.min.js}"></script>

<script th:src="@{/static/js/bootstrap/js/bootstrap-table.js}"></script>

<script src="https://cdn.bootcss.com/zTree.v3/3.5.29/js/jquery.ztree.all.min.js"></script>

<!--<script th:src="@{/static/js/jquery/jquery.ztree.core-3.5.min.js}"></script>-->
<!--<script th:src="@{/static/js/jquery/jquery.ztree.exedit.js}"></script>-->
<!--<script th:src="@{/static/js/jquery/jquery.ztree.excheck-3.5.js}"></script>-->
<script src="http://api.map.baidu.com/api?v=2.0&ak=Y2TqMdQvIRuGGW83xP2kd8LR7Y5SAplh"></script>
<script src="http://api.map.baidu.com/library/LuShu/1.2/src/LuShu_min.js"></script>
<script src="http://api.map.baidu.com/library/DistanceTool/1.2/src/DistanceTool_min.js"></script>
<script th:src="@{static/lib/layui/layui.all.js}"></script>
<script th:src="@{/static/js/bootstrap.min.js}"></script>



<script th:src="@{/static/dc_file/js/index_.js}"></script>
<!--<script th:src="@{/static/dc_file/js/cardrive.js}"></script>-->

<script th:src="@{/static/webmap.js}"></script>



<!--<script th:src="@{/static/js/js/locate.js}"></script>-->
<script th:src="@{/static/dc_file/js/cars_.js}"></script>
<script th:src="@{/static/dc_file/js/4someFuck.js}"></script>

<script th:src="@{/static/lib/tabular_ztree.js}"></script>


<script th:src="@{/static/dc_file/js/tab.js}"></script>



<script th:src="@{/static/js/tablecolor.js}"></script>

<script th:src="@{/static/js/Print.js}"></script>

<!--<script th:src="@{/static/js/center/common.js}"></script>-->
<script th:src="@{/static/js/center/dateutils.js}"></script>


<script th:src="@{/static/baseinfo/ins.js}"></script>
<script th:src="@{/static/lib/jquery.webui-popover.js}"></script>
<script>

    if (window.top !== window.self) {


        console.log("mmmp")
    }

</script>

<script>
    $(".iplay").click(function (e) {
        e.stopPropagation();
        console.log(123);
    })

    function formatTimeMin(date) {
        var year = date.getFullYear();
        var month = date.getMonth(), month = month < 10 ? '0' + month : month;
        var day = date.getDate(), day = day < 10 ? '0' + day : day;
        return year + '-' + month + '-' + day;
    }

    function formatTime(date) {
        var year = date.getFullYear();
        var month = date.getMonth() + 1, month = month < 10 ? '0' + month : month;
        var day = date.getDate() + 1, day = day < 10 ? '0' + day : day;
        return year + '-' + month + '-' + day;
    }

    function cnmmmmm() {
        // var data = [];
        // var aaa = window.fucking();
        // // console.log(aaa)
        // for (var a of aaa) {
        //     if (a.dn === undefined) continue;
        //     data.push(a.dn);
        // }
        // var fffffff = [];
        // // window.fuckShitArr
        //
        // for (var ddd of data) {
        //     // if (ddd === undefined) continue;
        //     // console.log(ddd);
        //     $.ajax({
        //         url: "../instruct/query",
        //         type: "POST",
        //         data: {
        //             deviceNumber: ddd,
        //             // start: '2015-02-02 00:00:00',
        //             // end: '2015-02-02 00:00:00',
        //             pageIndex: 1 //页码的参数名称，默认：page
        //             , pageSize: 999, //每页数据量的参数名，默认：limit
        //             start: formatTimeMin(new Date()),
        //             end: formatTime(new Date()),
        //         },
        //         traditional: true,
        //         async: false,
        //         success: function (res) {
        //             Array.prototype.push.apply(fffffff, res.rows);
        //             // fffffff.concat(res.rows);
        //         }
        //     })
        // }
        //
        // // console.log(fffffff)
        // var table = layui.table;
        //
        // table.render({
        //     id: 'plsFuckMe',
        //     elem: '#plsFuckMe',
        //     data: fffffff,
        //     page: true,
        //     cellMinWidth: 150,
        //     method: "POST",
        //     cols: [
        //         [
        //
        //             {field: 'deviceNumber', title: '设备号', sort: true},
        //             {field: 'plateNumber', title: '车牌号', sort: true},
        //             {field: 'sendTime', title: '时间', sort: true},
        //             {field: 'name', title: '命令', sort: true},
        //             {field: 'result', title: '结果', sort: true},
        //             {fixed: 'right', align: 'center', toolbar: '#instructDetailsBar'}
        //         ]
        //     ],
        //     skin: "nob",
        //     size: "sm",
        //
        // });
    }

    window.cnmmmmm = cnmmmmm;
    $(function () {


    });


</script>

<script>
    // layui.use('form', function () {
    //     var form = layui.form;
    //     form.on('checkbox(focus)', function (data) {
    //         console.log(data.elem); //得到checkbox原始DOM对象
    //         console.log(data.elem.checked); //是否被选中，true或者false
    //         console.log(data.value); //复选框value值，也可以通过data.elem.value得到
    //         console.log(data.othis); //得到美化后的DOM对象
    //     });
    //
    //     form.on('checkbox(show)', function (data) {
    //         console.log(data.elem); //得到checkbox原始DOM对象
    //         console.log(data.elem.checked); //是否被选中，true或者false
    //         console.log(data.value); //复选框value值，也可以通过data.elem.value得到
    //         console.log(data.othis); //得到美化后的DOM对象
    //     });
    //     //各种基于事件的操作，下面会有进一步介绍
    // });


    var mmp = `

<form  class="layui-form ooooo"  style=" color: #0f0f0f;" lay-filter="focus">
    <div    >
       关注车辆显示设置

    </div>



  <div class="layui-input-block">
            <input type="checkbox" name="dn"  id="dn"  value="dn" lay-skin="primary" title="车牌号"   lay-filter="dn">
             <input type="checkbox" name="inum"  id="inum"  value="inum" lay-skin="primary" title="自编号"  lay-filter="inum">
             <input type="checkbox" name="sp"  id="sp" value="sp" lay-skin="primary" title="速度"   lay-filter="sp">
             <input type="checkbox" name="m"  id="m" value="m"  lay-skin="primary" title="里程"   lay-filter="m">
             <input type="checkbox" name="driname"  id="driname" value="driname" lay-skin="primary" title="司机姓名"    lay-filter="driname">
             <input type="checkbox" name="mission"   id="mission"  value="mission" lay-skin="primary" title="任务状态"    lay-filter="mission">
             <input type="checkbox" name="shop" id="shop" value="shop"  lay-skin="primary" title="服务网点"    lay-filter="shop">
        </div>



</form >
<form  class="layui-form ooooo"  style=" color: #0f0f0f;" lay-filter="show">
    <div   >
      树形图列表显示设置

    </div>


  <div class="layui-input-block">
            <input type="checkbox" name="showCom"  id="showCom"  value="showCom" lay-skin="primary" title="显示公司"    lay-filter="showCom">
             <input type="checkbox" name="showCarG"   id="showCarG"  value="showCarG" lay-skin="primary" title="显示车队"    lay-filter="showCarG">
             <input type="checkbox" name="showCar"  id="showCar"   value="showCar" lay-skin="primary" title="显示车型"  lay-filter="showCar">

        </div>


</form >
 `;


    window.showArr = ["showCom", "showCarG", "showCar"];
    window.treeC = ["dn", "inum", "sp", "m","mission"];


    function unique(arr) {
        var res = [];
        var json = {};
        for (var i = 0; i < arr.length; i++) {
            if (!json[arr[i]]) {
                res.push(arr[i]);
                json[arr[i]] = 1;
            }
        }
        return res;
    }


    function removeWithoutCopy(arr, id) {
        for (var i = arr.length - 1; i >= 0; i--) {
            if (arr[i] === id) {
                arr.splice(i, 1);
            }
        }
        return arr;
    }


    // $("#showSetting").click(function () {
    //     showSetting();
    // });

    $("#showSetting").on("click", function () {
        var kkk = layer.open({
            type: 1 //Page层类型
            , content: mmp
            , shade: 0.6 //遮罩透明度

            , anim: 0 //0-6的动画形式，-1不开启
            , area: ['300px', '400px']
            , btn: ['确定', '取消'] //只是为了演示
            , yes: function () {
                console.log("no")

                refresh();

                layer.closeAll();
            }
            , btn2: function () {
                layer.close(kkk);
            },

            success: function (layero, index) {

                var form = layui.form;

                for (var jjjo of window.treeC) {

                    var mmo = "#" + jjjo;
                    jQuery(mmo).prop("checked", true);
                    // console.warn((mmo))

                }

                for (var lllo of window.showArr) {

                    var sssssss = "#" + lllo;
                    jQuery(sssssss).prop("checked", true);
                    console.warn((sssssss))

                }

                form.render();


                form.on('checkbox(dn)', function (data) {

                    layer.msg("不可取消");
                    jQuery(data.elem).prop("checked", true);
                    form.render();
                    return;
                    console.log(data.elem); //得到checkbox原始DOM对象
                    console.log(data.elem.checked); //是否被选中，true或者false
                    console.log(data.value); //复选框value值，也可以通过data.elem.value得到
                    console.log(data.othis); //得到美化后的DOM对象

                    if (data.elem.checked) {
                        treeC.push(data.value)
                    } else {
                        removeWithoutCopy(treeC, data.value)
                    }
                    console.log(treeC)


                });
                form.on('checkbox(inum)', function (data) {

                    if (data.elem.checked) {
                        treeC.push(data.value)
                    } else {
                        removeWithoutCopy(treeC, data.value)
                    }
                    console.log(treeC)

                });
                form.on('checkbox(sp)', function (data) {
                    layer.msg("不可取消");
                    jQuery(data.elem).prop("checked", true);
                    form.render();
                    return;
                    if (data.elem.checked) {
                        treeC.push(data.value)
                    } else {
                        removeWithoutCopy(treeC, data.value)
                    }
                    console.log(treeC)
                });
                form.on('checkbox(m)', function (data) {

                    if (data.elem.checked) {
                        treeC.push(data.value)
                    } else {
                        removeWithoutCopy(treeC, data.value)
                    }
                    console.log(treeC)
                });
                form.on('checkbox(driname)', function (data) {

                    if (data.elem.checked) {
                        treeC.push(data.value)
                    } else {
                        removeWithoutCopy(treeC, data.value)
                    }
                    console.log(treeC)
                });
                form.on('checkbox(mission)', function (data) {

                    if (data.elem.checked) {
                        treeC.push(data.value)
                    } else {
                        removeWithoutCopy(treeC, data.value)
                    }
                    console.log(treeC)
                });


                form.on('checkbox(shop)', function (data) {
                    if (data.elem.checked) {
                        treeC.push(data.value)
                    } else {
                        removeWithoutCopy(treeC, data.value)
                    }
                    console.log(treeC)
                });


                form.on('checkbox(showCom)', function (data) {
                    if (data.elem.checked) {
                        showArr.push(data.value)
                    } else {
                        removeWithoutCopy(showArr, data.value)
                    }
                    console.warn(showArr)
                });
                form.on('checkbox(showCarG)', function (data) {
                    if (data.elem.checked) {
                        showArr.push(data.value)
                    } else {
                        removeWithoutCopy(showArr, data.value)
                    }
                    console.warn(showArr)
                });
                form.on('checkbox(showCar)', function (data) {
                    if (data.elem.checked) {
                        showArr.push(data.value)
                    } else {
                        removeWithoutCopy(showArr, data.value)
                    }
                    console.warn(showArr)
                });


            }
        });
    })

    // showSetting();


    function showSetting() {

    }


</script>


</html>